body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

table{
    border-collapse: collapse;
    width: 100%;
}
    table tr td { padding: 0px 8px; }
        table tr td input { width: 100%; }

button {
    line-height: 32px;
    padding: 0px 16px;
    margin: 4px 4px;
    border: 1px solid #00000000;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
}


input[type="text"], input[type="number"], select{
    border: 1px solid #00000000;
    margin: 1px;
    border-radius: 3px;
}

input[type="range"]{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    border-radius: 5px;  
    height: 5px;
    margin: 6px 0px;
}
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        cursor: pointer; 
        width: 16px;
        height: 16px;
        border-radius: 100%;
    }
    input[type="range"]::-moz-range-thumb {
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 100%;
    }

#main_container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#left_container, #right_container {
    box-sizing: border-box;
    position: absolute;
    width: calc( 50vw - 2px);
    height: 100vh;
    overflow: auto;

    padding: 8px;
}

#left_container {
    top: 0;
    left: 0;
}

#right_container {
    
    top: 0;
    right: 0;
}

#spacer_container {
    position: absolute;
    width: 4px;
    height: 100vh;

    top:0;
    left: calc( 50vw - 2px);

    cursor: ew-resize;
    z-index: 999999999;
}
    #spacer_container div {  
        padding: 0;
        margin: 0;  
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: -7.5px;
        transform: translate(0, -50%);
    }


*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.option_block {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;

    width: calc(100% - 10px);
    margin-left: 10px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

    .option_block .title_block {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;

        transform: translate(1em, -50%);
        padding: 0px 4px;

        font-weight: bold;
        font-variant: small-caps;
        font-size: 1.2em;
    }


#right_container_content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-align: center;
}

#preview.fit{
    max-width: 100%;
    max-height: 100vh;
}

#preview.original{
    max-height: none;
    max-width: none;
}

#preview.fit-width{
    max-height: none;
    max-width: 100%;
}

#preview.fit-height{
    max-height: 100vh;
    max-width: none;
}

#modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    z-index: 999999999999;

    display: none;
}

#modal .container {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 60%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 16px;
    background-color: purple;
}

#modal .container .logo,
#modal .container .close  {
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
    font-size: 32px;
    cursor: pointer;
    line-height: 1;
    text-align: center;
}
#modal .container .logo { left: 0; }
#modal .container .close { right: 0; }

#modal .container .title{
    position: absolute;
    top: 0;
    left: calc(32px + 8px);
    width: calc( 100% - 32px - 32px - 8px);
    height: 32;

    font-size: 1.2em;
    font-weight: bold;
    text-align: center;

    margin-top: 0;
    line-height: 2;
}

#modal .container .content {
    margin-top: 32px;
    padding-left: 8px;
}

#modal.danger .container .logo::before { content: '\26A0'; }
#modal.info .container .logo::before { content: '\1F6C8'; }
